<!-- Cancel section -->
<section id="cancel" class="container content-section text-center">
  <h2>An update about Rust Latam 2020</h2>
  <h4>[<a href="#cancel-en">English</a>] [<a href="#cancel-es">Español</a>] [<a href="#cancel-pt">Português</a>]</h4>

  <div class="cancel-st">
    <p id="cancel-en">Hello community,<br />
      We were monitoring the situation with COVID-19 closely in the past weeks and having some internal discussions about the situation. It is with heavy hearts that we inform you that we decided to cancel Rust LATAM 2020.<br /><br />

      It was a tough decision for us to drop all the hours of work our small team dedicated to make this conference happen, but the health of our community is our first priority.<br />
      We hope to see you again on our next Rust adventure in Latin America!<br /><br />

      Take care you all and stay safe.<br /><br />

      The Rust LATAM team
    </p>

    <hr />

    <p id="cancel-es">
      Hola comunidad de Rust LATAM,<br /><br />
      Hemos estado monitoreando la situación respecto a COVID-19 muy de cerca en estas últimas semanas y teniendo algunas reuniones entre todos los organizadores, con mucho pesar, queremos informarles que hemos tomado la decisión de cancelar Rust LATAM 2020.<br /><br />

      Abrogar las tantas horas de trabajo de nuestro pequeño equipo, fue una decisión difícil tomada en el respecto de la salud de nuestra comunidad, nuestra primera prioridad.<br /><br />

      ¡Esperamos verte en nuestra próxima aventura con Rust en América Latina!<br /><br />

      Cuidense.<br /><br />

      El equipo de Rust LATAM
    </p>

    <hr />

    <p id="cancel-pt">
      Olá comunidade Rust LATAM,<br /><br />

      Nós estávamos monitorando de perto a situação do COVID-19 e discutindo internamente nas últimas semanas. É com muito pesar que informamos que nós decidimos cancelar a Rust LATAM 2020.<br /><br />

      Foi uma decisão difícil deixar para trás todas as horas de trabalho que nosso pequeno time dedicou para fazer essa conferência acontecer, mas a saúde da nossa comunidade é prioridade.<br /><br />

      Esperamos vê-los em nossa próxima aventura com Rust na América Latina!<br /><br />

      Cuidem-se.<br /><br />

      Equipe Rust LATAM
    </p>
  </div>
</section>
