<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>Contact</h2>
      <p>For any question or doubt don't hesitate to contact us</p>

      <ul class="list-inline banner-social-buttons">
        <li>
          <a href="mailto:team@rustlatam.org" class="btn btn-default btn-lg"><i class="fas fa-envelope fa-fw"></i> <span class="network-name">EMAIL</span></a>
        </li>

        <li>
          <a href="https://twitter.com/RustLatamConf" class="btn btn-default btn-lg"><i class="fab fa-twitter fa-fw"></i> <span class="network-name">twitter</span></a>
        </li>

        <li>
          <a href="https://gitlab.com/rustlatam/website-2020" class="btn btn-default btn-lg"><i class="fab fa-gitlab fa-fw"></i> <span class="network-name">gitlab</span></a>
        </li>

        <li>
          <a href="https://discord.gg/rust-latam" class="btn btn-default btn-lg"><i class="fab fa-discord fa-fw"></i> <span class="network-name">discord</span></a>
        </li>
      </ul>
    </div>
  </div>
</section>
