<!-- Intro Header -->
<header class="intro">
  <div class="intro-body">
    <div class="header-content">
      <h1 class="brand-heading">Rust Latam 2020</h1>
      <p class="intro-text">Where Rust meets Latin America</p>
      <div class="divider">&nbsp;</div>
      <p class="intro-text_date">May, 22nd-23rd 2020 <br/><span style="color:yellow">Mexico City, Mexico</span></p>
      <a href="index.html#about" class="btn btn-circle page-scroll">
        <i class="fa fa-arrow-down animated"></i>
      </a>
    </div>
  </div>
</header>
