<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="header-content">
            <h1 class="brand-heading">Rust Latam 2020</h1>
            <p class="intro-text">Where Rust meets Latin America</p>
            <p class="intro-text">May, 22nd-23rd 2020 - Mexico City, Mexico</p>
            <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
            </a>
        </div>
    </div>
</header>
