<!-- Sponsor Section -->
<section id="our_sponsors" class="content-section text-center">
  <div>
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Our Sponsors</h2>
        <p>Rust Latam 2020 is also made possible by our generous sponsors</p>
        <p>For sponsorship inquiries, <a href="/sponsors">check the available packages</a> and feel free to <a href="mailto:sponsors@rustlatam.org">drop us an email</a>: we will work out the details together!</p>

        <div class="sponsor-head gold">GOLD</div>
        <div class="brand_carousel row">
          <div class="brand_item text-center">
            <header>
              <a href="https://holo.host" target="_blank" title="Sponsor" alt="Sponsor">
                <img src="{{ site.baseurl }}/img/brands/holochain.png" alt="sponsor" />
              </a>
            </header>
            <section>
              <p>
                Holo is a cloud hosting market for distributed applications. Holochain is a new open source framework for truly peer-to-peer applications. Holo acts as a bridge between Holochain apps and users by creating an ecosystem that enables distributed hosting services provided by peers.
              </p>
            </section>
          </div>
        </div> <!-- end of gold sponsors -->

        <div class="sponsor-head silver">SILVER</div>
        <div class="brand_carousel row">
          <div class="brand_item text-center col-md-6">
            <header>
              <a href="https://www.mozilla.org" target="_blank" title="Mozilla" alt="Mozilla">
                <img src="{{ site.baseurl }}/img/brands/mozilla.png" alt="mozilla" />
              </a>
            </header>
            <section>
              <p>
                Best known for its Firefox web browser, the organization prides itself on its efforts to keep the internet "open and accessible to all." It's positioned Firefox as a privacy-focused alternative to Big Tech browsers. In recent years, Mozilla has also worked on efforts to crowdsource an open and diverse dataset for training voice recognition systems. In 2018, it also launched tools to protect users from tracking code as they navigate the web, including software to cordon off Facebook from other browser activity.
              </p>
            </section>
          </div>

          <div class="brand_item text-center col-md-6">
            <header>
              <a href="https://www.parity.io" target="_blank" title="Parity" alt="Parity">
                <img src="{{ site.baseurl }}/img/brands/parity.png" alt="parity" />
              </a>
            </header>
            <section>
              <p>
                Building the blockchain infrastructure for the decentralised web.
              </p>
            </section>
          </div>
        </div>
        <!-- end of silver sponsors -->

        <div class="sponsor-head bronze">BRONZE</div>
        <div class="brand_carousel row">
          <div class="brand_item text-center">
            <header>
              <a href="https://www.embark.dev" target="_blank" title="Embark" alt="Embark">
                <img src="{{ site.baseurl }}/img/brands/embark.png" alt="embark" />
              </a>
            </header>
            <section>
              <p>
                Embark Studios is a Stockholm-based games studio, on a mission to blur the line between playing and making with games and tools that empower everyone to create.
              </p>
            </section>
          </div>
        </div>
        <!-- end of bronze sponsors -->

      </div>
    </div>
  </div>
</section>
