    <!-- Sponsor Section -->
    <section id="sponsors" class="content-section text-center">
        <div class="sponsors-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Our Sponsors</h2>
                    <p>Rust LATAM 2020 is also made possible by our generous sponsors</p>
                    <p>For sponsorship inquiries, <a href="/sponsors">check the available packages</a> and feel free to <a href="mailto:sponsors@rustlatam.org">drop us an email</a>: we will work out the details together!</p>
                </div>
            </div>
        </div>
    </section>
