<!-- Tickets Section -->
<section id="tickets" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6">
      <h2>Tickets</h2>
      <p>The ticket sale will open soon and will be an online sale only. Attendees cannot buy tickets offline or at the conference. Tickets will also be personal and will carry your name. There will be different prices; we encourage companies who pay for their employees attending the conference to actively support us ("business ticket"). However, no matter the ticket price level, everyone will enjoy the same conference content.</p>
      <p>We will announce the ticket sale opening on our social channels, so stay tuned!</p>
    </div>
  </div>
</section>
