<!-- Workshops Section -->
<section id="workshops" class="content-section text-center">
  <div class="workshops-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Workshops</h1>
      </div>
    </div>
  </div>
  <div class="sub-content-section">
    <p>Workshop will be held at the held at the <a href="https://www.c3.unam.mx/index.html">Centro de Ciencias de la Complejidad (C3) de la Universidad Nacional Autónoma de México</a></p>
    <p>The schedule for workshops will be announced at a later stage.</p>
  </div>
</section>
