<!DOCTYPE html>
<html>
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    <hr class="section-separator" />
    {% include location.html %}
    <hr class="section-separator" />
    {% include tickets.html %}
    <hr class="section-separator" />
    {% include sponsors.html %}
    <hr class="section-separator" />
    {% include schedule.html %}
    <hr class="section-separator" />
    {% include workshops.html %}
    <hr class="section-separator" />
    {% include contact.html %}
    <hr class="section-separator" />
    {% include coc.html %}
    {% include footer.html %}
    {% include js.html %}
  </body>
</html>
